<html>
  <head>
    <title>Arcade of Infinite Monotonous Fun</title>
    <link rel="stylesheet" href="/style.css">
  </head>
  <body>
    <header>
      <h1>Arcade of Infinite Monotonous Fun</h1>
    </header>

    <section class="game game_1">

      <h3>Game 1</h3>
      <p>Instructions:</p>
      <ol>
        <li>Follow the instructions.</li>
        <li>Ensure all checkboxes are checked.</li>
      </ol>
      <div class="boxes">
        <input type="checkbox" /> 
      <div>

    </section>

    <section class="game game_2">

      <h3>Game 2</h3>
      <p>Instructions:</p>
      <ol>
        <li>Same as Game 1.</li>
        <li>Take note of how many checkboxes there are.</li>
        <li>Stop when you are bored.</li>
      </ol>
      <div class="boxes">
        <input type="checkbox" /> 
      <div>

    </section>

    <section class="game game_3">

      <h3>Game 3</h3>
      <p>You get the idea, but now it gets fun.</p>
      <div class="boxes">
        <input type="checkbox" /> 
      <div>

    </section>

    <section class="game game_4">

      <h3>Game 4</h3>
      <p>It gets harder from here.</p>
      <div class="boxes">
        <input type="checkbox" /> 
      <div>

    </section>

    <section class="game game_5">

      <h3>Game 5</h3>
      <p>Only for those who chase countable infinities.</p>
      <div class="boxes">
        <input type="checkbox" /> 
      <div>

    </section>

    <script src="https://d3js.org/d3.v4.js"></script>
    <script src="/scripts.js" charset="utf-8"></script>
  </body>
</html>
